<div class="forms">
    <div class="title-container title">Forms</div>

    
<div class="card flex justify-content-center">
    <p-calendar [(ngModel)]="date" />
</div>
  
    <div class="form-section">
      <h3>Formulario con Calendario</h3>
      <p-calendar 
        [(ngModel)]="dateValue" 
        placeholder="Selecciona una fecha" 
        [showIcon]="true">
      </p-calendar>
    </div>
  
    <div class="form-section">
      <h3>Formulario con Campos de Texto</h3>
      <div class="p-field">
        <label for="username">Nombre de Usuario</label>
        <input id="username" type="text" pInputText [(ngModel)]="username" />
      </div>
      <div class="p-field">
        <label for="email">Correo Electrónico</label>
        <input id="email" type="email" pInputText [(ngModel)]="email" />
      </div>
    </div>
  
    <div class="form-section">
      <h3>Formulario con Dropdown</h3>
      <p-dropdown 
        [options]="dropdownOptions" 
        [(ngModel)]="selectedOption" 
        placeholder="Selecciona una opción">
      </p-dropdown>
    </div>
  
  <div class="button-container">
    <button class="btn" routerLink="/inicio/menu-tareas">Regresar</button>
  </div>
  
</div>
