<div class="web">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <button pButton icon="pi pi-home" label="Inicio" class="mr-2"></button>
      <button pButton icon="pi pi-refresh" label="Actualizar"></button>
    </div>
    <div class="p-toolbar-group-right">
      <button pButton icon="pi pi-user" label="Perfil" class="mr-2"></button>
      <button
        pButton
        routerLink="/inicio/menu-tareas"
        icon="pi pi-sign-out"
        label="Salir"
        severity="danger"
      ></button>
    </div>
  </p-toolbar>

  <div class="title-container title">Saint Seiya Web</div>

  <div class="card-container">
    <div class="card-item card flex justify-content-center">
      <p-card
        header="Aries"
        subheader="Mu de Aries"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://s0.smartresize.com/wallpaper/354/881/HD-wallpaper-mu-de-aries-caballeros-del-zodiaco-saint-seiya.jpg"
            class="image-container-c"
          />
        </ng-template>
        <p>
          Sabio, calmado y muy hábil, Mu es un experto en la reparación y
          restauración de armaduras. Su poder radica en su control mental y su
          capacidad de telequinesis, lo que lo convierte en uno de los
          caballeros más inteligentes y estrategas.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Cancelar"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            >
              <i class="pi pi-times"></i>
            </p-button>
            <p-button label="Guardar" class="w-full" styleClass="w-full">
              <i class="pi pi-check"></i>
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
    <div class="card-item card flex justify-content-center">
      <p-card
        header="Tauro"
        subheader="Aldebaran de Tauro"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://s0.smartresize.com/wallpaper/516/41/HD-wallpaper-aldebaran-de-tauro-caballeros-del-zodiaco-saint-seiya.jpg"
            class="image-container-c"
          />
        </ng-template>
        <p>
          Físicamente imponente, Aldebarán es el caballero más fuerte de su
          signo. Su técnica Gran Cuerno es devastadora, y su lealtad hacia Atena
          es inquebrantable, aunque su temperamento lo lleva a ser a veces
          impulsivo y directo.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Cancelar"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            >
              <i class="pi pi-times"></i>
            </p-button>
            <p-button label="Guardar" class="w-full" styleClass="w-full">
              <i class="pi pi-check"></i>
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
    <div class="card-item card flex justify-content-center">
      <p-card
        header="Géminis"
        subheader="Saga de Géminis"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://w0.peakpx.com/wallpaper/387/1019/HD-wallpaper-saga-de-geminis-caballeros-del-zodiaco-saint-seiya.jpg"
            class="image-container-c"
          />
        </ng-template>
        <p>
          Saga es un hombre con dos personalidades opuestas: una noble y
          protectora, y la otra cruel y manipuladora. Sus habilidades psíquicas
          lo convierten en un personaje complejo, especialmente cuando está bajo
          la influencia de su otra personalidad maligna.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Cancelar"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            >
              <i class="pi pi-times"></i>
            </p-button>
            <p-button label="Guardar" class="w-full" styleClass="w-full">
              <i class="pi pi-check"></i>
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
    <div class="card-item card flex justify-content-center">
      <p-card
        header="Cáncer"
        subheader="Deathmask de Cáncer"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://w0.peakpx.com/wallpaper/853/650/HD-wallpaper-caballero-de-cancer-caballeros-del-zodiaco-saint-seiya.jpg"
            class="image-container-c"
          />
        </ng-template>
        <p>
          Cruel, despiadado y vengativo, Deathmask es uno de los caballeros más
          temidos, considera que el poder es justicia. A pesar de su naturaleza
          malévola, su historia personal revela una lucha interna y un corazón
          herido, lo que le da una profundidad trágica.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Cancelar"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            >
              <i class="pi pi-times"></i>
            </p-button>
            <p-button label="Guardar" class="w-full" styleClass="w-full">
              <i class="pi pi-check"></i>
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="card-container">
    <div class="card-item card flex justify-content-center">
      <p-card
        header="Leo"
        subheader="Aioria de Leo"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://w0.peakpx.com/wallpaper/71/208/HD-wallpaper-aioria-de-leo-caballeros-del-zodiaco-saint-seiya.jpg"
            class="image-container-c"
          />
        </ng-template>
        <p>
          Caballero noble y valiente, Aioros es un símbolo de sacrificio. Su
          entrega total a la causa de Atena lo lleva a dar su vida por ella,
          convirtiéndose en un mártir que inspira a los caballeros de bronce.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Cancelar"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            >
              <i class="pi pi-times"></i>
            </p-button>
            <p-button label="Guardar" class="w-full" styleClass="w-full">
              <i class="pi pi-check"></i>
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="card-item card flex justify-content-center">
      <p-card
        header="Virgo"
        subheader="Shaka de Virgo"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://s0.smartresize.com/wallpaper/98/494/HD-wallpaper-shaka-de-virgo-caballeros-del-zodiaco-seint-seiya.jpg"
            class="image-container-c"
          />
        </ng-template>
        <p>
          Es el "hombre más cercano a Dios", es extremadamente sabio y
          espiritual. Su poder está a un nivel de conciencia superior, utiliza
          técnicas psíquicas y espirituales que pueden derrotar a sus enemigos.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Cancelar"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            >
              <i class="pi pi-times"></i>
            </p-button>
            <p-button label="Guardar" class="w-full" styleClass="w-full">
              <i class="pi pi-check"></i>
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="card-item card flex justify-content-center">
      <p-card
        header="Libra"
        subheader="Dohko de Libra"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://w0.peakpx.com/wallpaper/785/461/HD-wallpaper-dokho-de-libra-caballeros-del-zodiaco-saint-seiya.jpg"
            class="image-container-c"
          />
        </ng-template>
        <p>
          Sabio y experimentado, es uno de los más antiguos y poderosos,
          conocido por su lucha en la guerra santa. Su habilidad con el Estilo
          de Dragón y su dominio de las técnicas de batalla lo convierten en un
          líder respetado.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Cancelar"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            >
              <i class="pi pi-times"></i>
            </p-button>
            <p-button label="Guardar" class="w-full" styleClass="w-full">
              <i class="pi pi-check"></i>
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="card-item card flex justify-content-center">
      <p-card
        header="Escorpión"
        subheader="Milo de Escorpión"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://w0.peakpx.com/wallpaper/541/946/HD-wallpaper-milo-de-escorpion-caballeros-del-zodiaco-saint-seiya.jpg"
            class="image-container-c"
          />
        </ng-template>
        <p>
          Feroz y determinado, es un guerrero apasionado, su poder se basa en su
          habilidad para atacar con precisión mortal. Su Aguijón Escarlata es su
          técnica más letal, capaz de perforar el cuerpo de sus enemigos.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Cancelar"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            >
              <i class="pi pi-times"></i>
            </p-button>
            <p-button label="Guardar" class="w-full" styleClass="w-full">
              <i class="pi pi-check"></i>
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="card-container">
    <div class="card-item card flex justify-content-center">
      <p-card
        header="Sagitario"
        subheader="Aioros de Sagitario"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://w0.peakpx.com/wallpaper/300/718/HD-wallpaper-aioros-de-sagitario-caballeros-del-zodiaco-saint-seiya.jpg"
            class="image-container-c"
          />
        </ng-template>
        <p>
          Con un profundo sentido de justicia y lealtad hacia Atena. A pesar de
          su trágico destino, su sacrificio para proteger a la diosa se
          convierte en un ejemplo de heroísmo puro y se convierte en una
          inspiración para sus compañeros.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Cancelar"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            >
              <i class="pi pi-times"></i>
            </p-button>
            <p-button label="Guardar" class="w-full" styleClass="w-full">
              <i class="pi pi-check"></i>
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="card-item card flex justify-content-center">
      <p-card
        header="Capricornio"
        subheader="Shura de Capricornio"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://w0.peakpx.com/wallpaper/79/768/HD-wallpaper-shura-de-capricornio-caballeros-del-zodiaco-saint-seiya.jpg"
            class="image-container-c"
          />
        </ng-template>
        <p>
          Guerrero de gran determinación y honor, Shura es conocido por su
          destreza con la espada. Su técnica Excalibur es una de las más
          poderosas, y su lucha por la justicia y el honor lo convierte en un
          caballero admirable y a la vez temido.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Cancelar"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            >
              <i class="pi pi-times"></i>
            </p-button>
            <p-button label="Guardar" class="w-full" styleClass="w-full">
              <i class="pi pi-check"></i>
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="card-item card flex justify-content-center">
      <p-card
        header="Acuario"
        subheader="Camus de Acuario"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://w0.peakpx.com/wallpaper/589/535/HD-wallpaper-camus-de-acuario-caballeros-del-zodiaco-saint-seiya.jpg"
            class="image-container-c"
          />
        </ng-template>
        <p>
          Un maestro del hielo y del cero absoluto, Camus es calculador, frío y
          extremadamente disciplinado. Su técnica Aurora Execution es una de las
          más letales, y su habilidad para manipular el hielo a su antojo lo
          convierte en un rival formidable.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Cancelar"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            >
              <i class="pi pi-times"></i>
            </p-button>
            <p-button label="Guardar" class="w-full" styleClass="w-full">
              <i class="pi pi-check"></i>
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="card-item card flex justify-content-center">
      <p-card
        header="Piscis"
        subheader="Afrodita de Piscis"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://w0.peakpx.com/wallpaper/526/1005/HD-wallpaper-afrodita-de-piscis-caballeros-del-zodiaco-saint-seiya.jpg"
            class="image-container-c"
          />
        </ng-template>
        <p>
          Elegante, encantador y letal, Afrodita usa sus habilidades
          relacionadas con las flores para combatir, siendo capaz de manipular
          las rosas con gran destreza. Su Rosario de Sangre es su ataque más
          mortífero, y su aparente frialdad esconde una feroz lealtad hacia
          Atena.
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Cancelar"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            >
              <i class="pi pi-times"></i>
            </p-button>
            <p-button label="Guardar" class="w-full" styleClass="w-full">
              <i class="pi pi-check"></i>
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
